/*ESTILO GERAL*/

* {
    /* Desabilitar seleção de texto */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    /* FIM do Desabilitar seleção de texto */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTES */

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('fonts/Ubuntu-Bold.ttf') format('truetype');
}

/* FIM FONTES */

/* TEXT-ICON */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.upper {
    font-style: normal;
    font-weight: 400;
    transition: .2s;
    order: -1;
    /* Coloca o elemento acima */
}

.lower {
    font-style: normal;
    font-weight: 400;
    font-family: 'Minecraft', sans-serif;
    color: #00ff08;
    transition: .2s;
    font-size: 29px;
}



header .interface {
    padding: 25px 20px;
    height: calc(0 - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #000;
    height: 100vh;
}

.flex {
    display: flex;
}

.interface .logo {
    font-size: 33px;
    color: #0f2182;
    font-weight: 600;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 42px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    transition: .2s;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

img {
    background: none;
    width: auto;
    height: auto;
    transition: .2s;
    border: none;
}

/*ESTILO DO CABEÇALHO*/

.header {
    padding: 48px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-size: 18px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    transition: .2s;
    text-decoration: none;
    color: #d4d1d1;
    display: inline-block;

}

header a:hover {
    transform: scale(1.05);
    color: #2bff00;
}

header nav ul {
    list-style: none;
}

header  nav.menu-desktop ul li{
    padding: 0 48px;
    display: inline-block;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 12px #00ff08;
    transform: scale(1.05);
}

header .logo {
    transition: .2s;
    cursor: pointer;
}

header .logo :hover {
    transform: scale(1.05);
    color: #09ff15;
}

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu i{
    color: #00ff08;
    font-size: 40px;
}
.menu-mobile{
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.btn-abrir-menu{
    display: none;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar i{
    color: #00ff08;
    font-size: 30px;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 10%;
    display: block;
}

.menu-mobile nav ul li a i{
    color: #ffffff;
    font-weight: 300;
}

.menu-mobile nav ul li .txt-icon:hover{
    background-color: #00ff08;
    color: #000;
}


.overlay-menu{
    background-color: #000000ea;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}

.topo-do-site .txt-topo-site p {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px transparent;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/
section.especialidades {
    box-shadow: 0 0 40px #00ff0821;
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialides-box {
    color: #fff;
    cursor: pointer;
    padding: 40px;
    text-align: justify;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialides-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ff0888;
}

.especialidades .especialides-box i {
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialides-box h3 {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialides-box p {
    font-family: 'Ubuntu-Light', sans-serif;
}

/*ESTILO DO SOBRE*/
section.sobre {
    
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    font-family: 'Ubuntu-Bold', sans-serif;
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    text-align: justify;
    font-family: 'Ubuntu-Light', sans-serif;
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


.img-sobre img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px transparent;
}

/*ESTILO DO PORTIFÓLIO*/
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px #00ff0821;
}

section.portifolio .flex {
    gap: 60px;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    cursor: pointer;
    border-radius: 40px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cb;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #33ff00fb;
    opacity: 0;
    transition: .6s;
}

.overlay:hover {
    opacity: 1;
}

/*ESTILO DO FORMULARIO CONTATO*/
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #131212;
    border: 0;
    outline: 0;
    border-radius: 15px;
    padding: 20px 15px;
    color: #fff;
    font-size: 14px;
}

form input::placeholder,
form textarea::placeholder {
    color: #00f02880;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 119px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 4px 4%;
    box-shadow: 0 0 40px #00ff0821;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00ff08;
}


footer .line-footer p i {
    margin-right: 10px;
    color: #00ff00;
    font-size: 22px;

}


footer .line-footer p {
    padding-top: 20px;
    text-align: center;
    bottom: 0;
    text-decoration: none;
    color: #00ff00;
    font-size: 16px;

}

footer .container .lower {
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
}

footer .container .lower:hover {
    transform: scale(1.05);
    color: #1eff00;
}


footer .container .upper {
    background-color: transparent;
    transition: .2s;
    margin-top: 10px;
}

footer .container .upper:hover {
    transform: scale(1.05);
    color: #ffffff;
}

footer .line-footer a {
    color: #fff;
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1028px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 34px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;

    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /*ESTILO DAS ESPECIALIDADES*/
    section.especialidades {
        padding: 40px 8%;

    }

    section.especialidades .flex{
        gap: 2px;
    }

    .especialidades .especialides-box {
        color: #fff;
        cursor: pointer;
        padding: 40px;
        text-align: justify;
        margin-top: 45px;
        border-radius: 20px;
        transition: .2s;
    }

    /* SOBRE-MIM */
    section.sobre .flex {
        flex-direction: column-reverse;
    }

    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-family: 'Ubuntu-Bold', sans-serif;
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    section.sobre .flex {
        display: block;
        flex-direction: column-reverse;
        gap: 60px;
    }

    .sobre .img-sobre img {
        margin-top: 18px;
        width: 100%;
    }

    /* PORTIFÓLIO */


    section.portifolio {
        padding: 50px 8%;
    }

    .img-port {
        margin: 0 auto;
        width: 100%;
        max-width: 360px;
    }

    section.portifolio .flex {
        gap: 80px;
    }

    /* FORM */
    section.formulario {
        padding: 40PX 8%;
    }
    /* SOBRE */
    
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    footer .line-footer p {
        color: #00ff00;
        font-size: 16px;

    }

    .btn-abrir-menu{
        display: block;
    }
    

}


@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}
